.App {
  text-align: center;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quiz__box {
  margin: 2rem;
  background-color: black;
  color: #61dafb;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quiz__box::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2rem black;
  border-radius: 1rem;
}

.question {
  margin: 1rem;
}
.options {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.finalScoreDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  height: 7rem;
  width: 20rem;

  font-family: monospace;
  font-weight: 500;
}

.displayMessage {
  font-size: 0.8rem;
  width: 100%;
}

.calculate__hyp {
  margin: 2rem;
  background-color: black;
  color: #61dafb;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  width: 90%;
}
.calculate__hyp::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2rem black;
  border-radius: 1rem;
}

.hyp__heading {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
}

.main__hyp {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-content: center;
  width: 70%;
  gap: 5rem;
  padding: 5rem;
}

.output__box {
  display: grid;
  place-content: center;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
}

.hypo__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}
.output {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid aqua;
  box-shadow: 0 0 2rem aqua, inset 0 0 1rem currentColor;
}
.output__angle {
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  width: 80%;
  height: 100%;
}

#base,
#perpendicular,
.angle {
  text-align: center;
  color: #61dafb;
  background-color: #282c34;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 1rem;
  z-index: 1;
  position: relative;
}

.calc__button,
.check__answer {
  font-size: 1rem;
  margin-top: 1rem;
  background-color: aqua;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 1rem;
  padding: 0.4rem;
}
.calc__button:hover,
.check__answer:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem aquamarine;
}
.check__answer {
  margin-top: 2rem;
}
